{:paths ["src" "resources"]
 :deps {org.clojure/clojure  {:mvn/version "1.10.0-alpha4"}}

 :aliases {:dev {:extra-paths ["test"]
                 :extra-deps {matcho {:mvn/version "0.1.0-RC6"}
                              org.clojure/java.jdbc {:mvn/version "0.6.1"}
                              cheshire {:mvn/version "5.6.3"}
                              org.postgresql/postgresql {:mvn/version "9.4.1211.jre7"}}}}}
